div data-controller='gid-selector' data-gid-selector-reject-gid-value=reject_generator_id
  select.form-control id=dom_id name=name data-gid-selector-target='inputImageSelector' data-action='focus->gid-selector#updateInputImageSelector click->gid-selector#dispatchGidChanged'
