- @valid_generators.map { |generator| ([generator] + generator.all_child_generators) }.flatten.each do |g|
  turbo-stream action='update' target="result-#{g.gid}"
    template
      img src="data:image/png;base64,#{g.image_b64}" class='card-img-top'